{% extends "accounts/base.html" %}

{% block content %}
<main class="form-signin">
  {% if form.email.errors %}
  {% for error in form.email.errors %}
  <p class="text-danger">{{ error }}</p>
  {% endfor %}
  {% endif %}
  <form action="" method="post" novalidate>
    {% csrf_token %}
    <label for="{{ form.email.id_for_label }}" class="visually-hidden">{{ form.email.label_tag }}</label>
    {{ form.email }}
    <input type="submit" class="btn btn-primary btn-lg mt-2" value="Reset password">
  </form>
</main>
{% endblock %}