{% extends "dashboard/base.html" %}

{% block content %}
  <p><strong class="fs-4">Chief complaint:</strong> <div>{{ chiefcomplaint.general_condition }}</div></p>
  <p><strong class="fs-4">Patient:</strong> <div>{{ chiefcomplaint.patient }}</div></p>
  <p><strong class="fs-4">Date of observation:</strong> <div>{{ chiefcomplaint.date_of_observation }}</div></p>
  <p><strong class="fs-4">Complaints:</strong> <div>{{ chiefcomplaint.complaints }}</div></p>
  <p><strong class="fs-4">General condition:</strong> <div>{{ chiefcomplaint.general_condition }}</div></p>
  <p><strong class="fs-4">Current medication:</strong> <div>{{ chiefcomplaint.current_medication }}</div></p>
  <p><strong class="fs-4">Allergies:</strong> <div>{{ chiefcomplaint.allergies }}</div></p>
  <p><strong class="fs-4">Blood pressure:</strong> <div> {{ chiefcomplaint.blood_pressure }}</div></p>
  <p><strong class="fs-4">Pulse:</strong> <div>{{ chiefcomplaint.pulse }}</div></p>
  <p><strong class="fs-4">Temp:</strong> <div>{{ chiefcomplaint.temp }}</div></p>
  <p><strong class="fs-4">Weight:</strong> <div>{{ chiefcomplaint.weight }}</div></p>
  <p><strong class="fs-4">Height:</strong> <div>{{ chiefcomplaint.height }}</div></p>
  <p><strong class="fs-4">Unirene dipstick:</strong> <div>{{ chiefcomplaint.unirene_dipstick }}</div></p>
  <p><strong class="fs-4">BMI:</strong> <div>{{ chiefcomplaint.bmi }}</div></p>
  <p><strong class="fs-4">HIV test:</strong> <div>{{ chiefcomplaint.hiv }}</div></p>
  <p><strong class="fs-4">Immediate action taken:</strong> <div>{{ chiefcomplaint.immediate_action_taken }}</div></p>
  <p><strong class="fs-4">Diagnosis:</strong> <div>{{ chiefcomplaint.diagnosis }}</div></p>
{% endblock %}