{% extends "dashboard/base.html" %}

{% block content %}
  <h4 class="mb-3">Patient Details</h4>
  <hr>
  <form class="row g-3" action="" method="post" novalidate>
    {% csrf_token %}
    <div class="col-md-6 col-lg-4">
      <label for="{{ form.first_name.id_for_label }}" class="form-label {% if form.first_name.errors %}is-invalid{% endif %}">{{ form.first_name.label_tag }}</label>   
      {{ form.first_name }}
      {% if form.first_name.errors %}
        {% for error in form.first_name.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-md-6 col-lg-4">
      <label for="{{ form.middle_name.id_for_label }}" class="form-label {% if form.middle_name.errors %}is-invalid{% endif %}">{{ form.middle_name.label_tag }}</label>   
      {{ form.middle_name }}
      {% if form.middle_name.errors %}
        {% for error in form.middle_name.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-12 col-lg-4">
      <label for="{{ form.last_name.id_for_label }}" class="form-label {% if form.last_name.errors %}is-invalid{% endif %}">{{ form.last_name.label_tag }}</label>   
      {{ form.last_name }}
      {% if form.last_name.errors %}
        {% for error in form.last_name.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-12">
      <label for="{{ form.date_of_birth.id_for_label }}" class="form-label {% if form.date_of_birth.errors %}is-invalid{% endif %}">{{ form.date_of_birth.label_tag }}</label>   
      {{ form.date_of_birth }}
      {% if form.date_of_birth.errors %}
        {% for error in form.date_of_birth.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-12">
      <label for="{{ form.gender.id_for_label }}" class="form-label {% if form.gender.errors %}is-invalid{% endif %}">{{ form.gender.label_tag }}</label>   
      {{ form.gender }}
      {% if form.gender.errors %}
        {% for error in form.gender.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-12">
      <label for="{{ form.nationality.id_for_label }}" class="form-label {% if form.nationality.errors %}is-invalid{% endif %}">{{ form.nationality.label_tag }}</label>   
      {{ form.nationality }}
      {% if form.nationality.errors %}
        {% for error in form.nationality.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-12">
      <label for="{{ form.identity_number.id_for_label }}" class="form-label {% if form.identity_number.errors %}is-invalid{% endif %}">{{ form.identity_number.label_tag }}</label>   
      {{ form.identity_number }}
      {% if form.identity_number.errors %}
        {% for error in form.identity_number.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-12">
      <label for="{{ form.phone.id_for_label }}" class="form-label {% if form.phone.errors %}is-invalid{% endif %}">{{ form.phone.label_tag }}</label>   
      {{ form.phone }}
      {% if form.phone.errors %}
        {% for error in form.phone.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-12">
      <label for="{{ form.email.id_for_label }}" class="form-label {% if form.email.errors %}is-invalid{% endif %}">{{ form.email.label_tag }}</label>   
      {{ form.email }}
      {% if form.email.errors %}
        {% for error in form.email.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="col-12">
      <label for="{{ form.address1.id_for_label }}" class="form-label">{{ form.address1.label_tag }}</label>   
      {{ form.address1 }}
      {% if form.address1.errors %}
        {% for error in form.address1.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-12">
      <label for="{{ form.address2.id_for_label }}" class="form-label">{{ form.address2.label_tag }}</label>   
      {{ form.address2 }}
      {% if form.address2.errors %}
        {% for error in form.address2.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-md-6">
      <label for="{{ form.city.id_for_label }}" class="form-label">{{ form.city.label_tag }}</label>
      {{ form.city }}
      {% if form.city.errors %}
        {% for error in form.city.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-md-4">
      <label for="{{ form.province.id_for_label }}" class="form-label">{{ form.province.label_tag }}</label>
      {{ form.province }}
      {% if form.province.errors %}
        {% for error in form.province.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-md-2">
      <label for="{{ form.zip_code.id_for_label }}" class="form-label">{{ form.zip_code.label_tag }}</label>
      {{ form.zip_code }}
      {% if form.zip_code.errors %}
        {% for error in form.zip_code.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>

    <input type="submit" class="btn btn-primary" value="Save Patient">
  </form>
{% endblock %}